#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mask-container {
  width: 500px;
  text-align: center;

  mask-image: linear-gradient(to right, transparent, black 30%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 30%);
}

.typing-container {
  display: inline-block;
  position: relative;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
}

.typing-text {
  font-size: 4rem;
  display: inline-block;
  transform: translateX(calc(min(0px, 500px - 100%)));
  transition: transform 0.3s ease-out;
  transition: width 0.3s ease-out;
}

#cursor {
  color: #3f85e8;
  animation: blink 1s infinite;
  font-size: inherit;
}

.done-button {
  transition: opacity 0.5s;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
